{% extends "base.html" %}
{% load custom_filters %}

{% block content %}
<!-- modal  -->
<div class="modal fade bd-example-modal-lg" id="addBlogModal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Blog Post</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class='text-muted'>Create Your Blog...</p>
        <form id="addBlogForm" method='post'>
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="blogTitle">Title:</label>
                        <input type="text" class="form-control" name='blog_title' id="blogTitle" pattern=".*\S+.*"
                            title='please Enter Title'>
                        <div class='errorBox' id='title_error'></div>
                    </div>
                    <div class="form-group mt-3">
                        <label for="blogDescription">Description:</label>
                        <textarea class="form-control" id="blogDescription" name='blog_description' rows="4"></textarea>
                        <div class='errorBox' id='desc_error'></div>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Create Blog</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </form>
        </div>
    </div>
</div>
<!--  end -  modal  -->


<div class="container mt-5">
    <div class='row'>
        <div class='col-12 d-flex justify-content-end mb-2'>
            <button class='btn btn-primary' data-bs-toggle='modal' data-bs-target='#addBlogModal'>Add Blog</button>
        </div>
    </div>
    <div class="row">
        <div id="blogPostContainer">
            {% for BlogData in blog_data %}
            <div class="col-12 mb-5">
                <div class="card">
                    <div class="card-body pb-0">
                        <div class='d-flex'>
                            <a href="/blogdetail/{{BlogData.id}}" class='text-decoration-none'>
                                <p class="h5 text-dark text-truncate mx-2" style="max-width: 800px;">{{BlogData.title}}</p>
                            </a>
                            <p class='text-muted'>&#183;</p>
                            <p class='text-muted mx-1'>{{BlogData.post_date | custom_timesince}}</p>
                            {% with converted_datetime=BlogData.post_date|custom_date_time_formate|custom_timezone %}
                              <p class='text-muted'>({{converted_datetime.ist_time}},</p>
                              <p class='text-muted mx-1'>{{converted_datetime.ist_date }})</p>
                            {% endwith %}
                        </div>
                        <div class='d-flex justify-content-end'>
                            <a href="/bloggerdetail/{{BlogData.author.id}}" class='text-decoration-none'>
                                <p class='text-black px-3'>- {{BlogData.author | title}}</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <nav aria-label="...">
            <ul class="pagination">
                {% if blog_data.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="/blog/all?page={{blog_data.previous_page_number}}">Previous</a>
                </li>
                {% endif %}
                {% for n in total_page %}
                <li class="page-item"><a class="page-link {% if blog_data.number == n %} active {% endif %}"
                        href="/blog/all?page={{n}}">{{n}}</a></li>
                {% endfor %}
                {% if blog_data.has_next %}
                <li class="page-item">
                    <a class="page-link" href="/blog/all?page={{blog_data.next_page_number}}">Next</a>
                </li>
                {% endif %}
            </ul>
        </nav>


    </div>
</div>
{% endblock %}