{% extends "base.html" %}

{% block content %}

<div class='container-fluid d-flex align-items-center justify-content-center' style='height:80vh'>
      <div class='row'>
        <div class='col-12'>
            <div class='text-center'> 
                 <h1 class="display-1">
                    Welcome To My Blog Site
                 </h1> 
                 <p class="h4 text-muted">
                    Welcome to our blog Site. Explore the latest posts and authors.
                 </p>
            </div>
        </div>
      </div>
</div>

{% endblock  %}